
#menu {
    border-top: solid 6px #f00;
    background-color: #f00;
    color: #fff;
    height: 400px;
}

#menu a {
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    display: block;
}
#menu a:hover {
    background-color: #f00;
    color: #ddd;
    text-decoration:underline;
    display: block;
}


/*
Navigation styling for MallFromAfrica site
*/
.bars{
    float: right;
}

.navbar{
    color: #0C5B80;
    padding: 0 1%;
    font-size: 1.2em;
}

.navbar-nav{
    font-size: 0.9em;!important;
    font-weight: 700;

}

.navbar-nav .active a, .navbar-nav .active a:focus, .navbar-nav .active a:hover{
    color:#27C21E;
}

.button{
    color: #0C5B80;!important;
    border: 0;!important;
    background-color: transparent;!important;
}

.jumbotron {
    background: url("../images/websiteImg/images.png") no-repeat ;
    background-size: cover;
    color: white;
    text-align: center;
    margin: auto;
}

#jumbotronInfo{
    padding: 2em 0;
}

#userName{
    margin: 1em 0;
    color: #607e1e
}
/**Styling for homePage starts here **/
#howTo{
    margin-top: 2.5em;
}

@media (max-width: 600px) {
    .icon{
        max-width: 100px;

    }
    h4{
        font-size: 95%;
        font-weight: 600;
    }

    h2{
        font-size: 2em;
    }
}

.container{
    padding: 8em 0;
}

.info{
    background-color: #F6F6F6;
    padding: 15px;
    text-align: center;
}

.greyTextArea{
    margin-top: 3.5em;
}


/**Styling for homePage ends here **/
/*footer for MallFromAfrica*/

.bottomList{
    color: #9e9e9e;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    text-align-last: left;
}

ul.bottomlink {
    padding: 0;


}

ul.bottomlink li{
    list-style-type: none;
    margin-bottom: 5px;
    text-align-last: left;
}

ul.bottomlink li a{
    font-size: 14px;
    color: #707070;
    font-weight: 300;
    font-style: normal;
}

#footerContent{
    padding: 0 5em;
}

#socialMedia{
    font-size: 20px;
}

.footerIcon{
    padding: 10px;
    color: white;
}

#headerSocialM{
    text-align-last: center;
}

address{
    text-align: left;
}


.footer {
    text-align: center;
    display: block;
    background: #1a1a1a;
    padding: 50px 0;
    color: #707070;
    bottom: 0;
    position: relative;
    width: 100%;
}
/**ends here**/
/**Register page for MallfromAfrica**/
.form{
    text-align: justify;
    width: 60%;
}

.formHeader{
    background-color: lightgray;
    padding: 5% 1%;
    margin-bottom: -1em;
    text-align: center;
}

.formConstraint{
    font-size: 0.8em;
    font-style: italic;
    color: gray;
    list-style-position: inside;
    text-align: left;
    max-width: 500px;
    padding: 0;
    margin: 10px;
    font-weight: bold;

}

.formConstraint li.invalid {
    color: #e71616;
}

.formConstraint li.valid {
    color: #58a90e;
}

input:not([type="submit"]):valid{
    border-color: #58a90e;
}

/***Transitions constraints box in and out when user hovers or focuses***/

input:not([type="submit"]) + .formConstraint,
select + .formConstraint {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
}

input:not([type="submit"]):hover + .formConstraint,
input:not([type="submit"]):focus + .formConstraint,
input:not([type="submit"]):active + .formConstraint,
select:hover + .formConstraint,
select:focus + .formConstraint,
select:active + .formConstraint{
    overflow: visible;
    max-height: 1000px;
    transition: max-height 1s ease-in;
}

.formConstraint li.valid:after {
    display: inline-block;
    padding-left: 10px;
    content: "\2713";
}

.formConstraint li.invalid:after{
    display: inline-block;
    padding-left: 10px;
    content: '×'
}
/**ends here**/

/**LOGIN PAGE STARTS HERE **/

#captcha{
    border: 1px solid gainsboro;
}

.reload{
    font-size: 1.5em;
    padding-left: 10px;
}

#errorM{
    position: relative;
    top: 5.5em;
    width: 60%;
    margin: auto;
    background-color: #ce1111;
    color: ghostwhite;
}

#successM{
    width: 50%;
    margin: 5em auto;
    padding: 6em 0;
    background-color: #423636;
    color: ghostwhite;
    display:none;
}


/**LOGIN AGE ENDS HERE **/

/**
PLACE AD BEGINS HERE
 */
#headerPlaceAd{
    border-bottom: 1px solid gainsboro;
}

#headerPlaceAd h3{
    margin: 0;
}

#headerPlaceAd div:nth-child(2){
    text-align: center;
}

.adDate{
    color: #bf002c;
    font-weight: 700;
    text-align: center;
}

#previewImg{
    display: none;
}
/**
PLACEAD ENDS HERE
 */
/*Listing page starts here **/

.listing{
    display: flex;
    flex-wrap: wrap;
}

.listing-card{
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    text-overflow: clip;
}

#resultMessage{
    display: none;
}

#searchBar{
    padding: 6px;
    background-color: #CDCDCD;
    box-shadow: inset 0px 1px 1px 0px #fff, 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #cdcddc;
}

.thumbStyle p{
    font-size: 11px;
    font-weight: 600;
    width: 60%;
    margin: 1.5em 0;
    padding: 0;
    float: right;
}

.thumbStyle a{

    color: #0d1217;
    text-decoration: none;
}

.thumbStyle a:hover{
    color: #0d1217;
    text-decoration: underline;
}

.card-block{
    text-align: left;
    border: 1px solid #ECECEC;
    background-color: #fff;
    padding: 6px;
    min-height: 35em;
}

.card-img-top{
    height: 15em;
    display: block;
    margin: auto;
    width: -webkit-fill-available;
}

p.card-text{
    height: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
}

#txtHint{
    list-style: none;
    background: ghostwhite;
    position: relative;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

#txtHint div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}

.price{
    color: #617D17;
    font-weight: 600;
}

.searchCategory{
    text-align: left;
}

.addToList{
    margin-left: 3em;
}

button:focus{
    outline:none;
    color: black;;
}

.addToList:hover{
    color: #3578B1;
    text-decoration: overline;
}

.vertical-center{
    display: table-cell;
    height: 38px;
    vertical-align: middle;
    transform: translateY(80%);
    position: relative;
    top: 50%;
    text-align: center;
}

/* Popup container */
.popUp {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popUp .popupText {
    visibility: hidden;
    width: 160px;
    background-color: #0c5b80;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 1.5em;
    margin-left: -2.1em;
}

/* Popup arrow */
.popUp .popupText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #0c5b80 transparent transparent transparent;

}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popUp .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@media (max-width: 600px){
    #searchBar{
        margin: 0.7em;
    }
}
/*listing page ends here*/

/*UserAccount page */
#welcomeMessage{
    border-bottom: 1px solid grey;
}

.accountList{
    font-size: 17px;
    font-weight: 600;
}

.accountList a{
    color: #1a1a1a;

}

.accountList a:hover{
    background-color: #BBBBBB;
    color: #101010;
    text-decoration: none;
    padding: 10px;
}

#accountSection{
    margin: 1em 0;
    border-bottom: 1px solid grey;
}

#watchListDetails{
    list-style-type: none;
}

.sectionsWL, .sectionList{
    border-bottom: 1px solid lightgray;
    padding-bottom: 1em;
}

.watchListInfo{
    padding: 0 0 2em;
}

div.myDetails{
    margin: auto;
}

.marginalize{
    border-left: 1px solid gainsboro;
    padding: 0;
}

#update{
    font-weight: 700;
    background-color: lightgrey;
    padding: 2%;
}

.userInfo{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

#userAddress{
    text-align: center;
    margin: 24px 1px;
    padding-bottom: 2em;

}

.updateForm{
    background-color: gainsboro;
    padding: 2em;
    width: 100%;
    margin: auto
}

.input-group[class*="col-"]{
    padding: 1.8em 1em 0;

}

#updateBtn{
    float: right;
    position: relative;
    bottom: 2.5em;
}

#formPage2{
    display: none;
}

#fileUpdate{
    padding-left: 0;
}
/*userAccount page ends here*/

/*aboutListingPage styles.css*/

.headerPrice{
    font-weight: normal;
    font-size: 24px;
    color: #48CD00;
}

#listHeader{
    width: 80%;
}

.itemImg{
    margin: 2em 0;
}

.itemImg img{
    height: 300px;
    vertical-align: middle;
    border: 0;
    width: 300px;
}

#contactHeader{
    padding-left: 15px;
}

/***ADMIN PANEL STYLES **/
#panelDivider{
    border-top: 1px solid cadetblue;
}

#adminNav{
    padding: 100% 0;
    background-color: cadetblue;
}

#adminAdList{
    display: none;
}

#adminUsersList{
    display: none;
}

.navIcons{
    font-size: 2em;
    position: relative;
    top: -43em;
}

.navIcons button{
    color: gainsboro;
}

#actionSubmit{
    margin: 3.7em 0;
}

.action{
    margin: 2em 0;
    padding: 0;
}


/***END ADMIN PANEL ***/